body {
    position: relative;
    background: #efefee;
    min-height: 45rem;
    padding-bottom: 80px;
}

html {
    height:100%;
    padding-top: 56px;
}

.custom-file-label {
    opacity: 0;
}

.custom-file-input {
    opacity: 1;
    margin-left: 2rem;
}

.navbar{
    justify-content: left;
}

.navbar a{
    justify-content: left;
    margin-left: 60px;
    margin-right: 0px;
}