<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    {% for category in categories %}
                    <li>
                        <a href="{{ path('view_category', {'id' : category.id}) }}">{{ category.name }} </a>
                    </li>
                    {% if (categories|length/2)|round(0, 'ceil') == loop.index %}
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    {% endif %}
                    {% else %}
                        <td colspan="8" class="text-center">
                            No categories found!
                        </td>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>