{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} news {% endblock %}

{% block body %}

    <h1 class="my-4">
        {{ category.name }}
    </h1>

    {{ include('Article/articleList.html.twig', {
        'articles' : articles
    }) }}
    {{ knp_pagination_render(articles) }}
{% endblock %}
