<div class="col-12">
    {{ form_start(categoryForm) }}

    {{ form_widget(categoryForm) }}

    <button type="submit" class="btn btn-primary" formnovalidate> {{ btnText }} </button>
    {{ form_end(categoryForm) }}
</div>