{% extends 'base.html.twig' %}

{% block body %}

    {% for category in categories %}

        <div class="card my-4">
            <h2 class="card-header" >{{ category.name }}</h2>
            <div class="card-body">

                {{ include('Article/articleList.html.twig', {
                    'articles' : category.article
                }) }}

            </div>
        </div>

    {% else %}
        <h1>
            No categories found!
        </h1>
    {% endfor %}

{% endblock %}
