<div class="col-12">
    {{ form_start(articleForm) }}

    {{ form_widget(articleForm) }}

    <button type="submit" class="btn btn-primary" formnovalidate> {{ btnText }} </button>
    {{ form_end(articleForm) }}
</div>